:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 2rem;
  height: 100vh;
  box-sizing: border-box;
  gap: 1em;
}

div#app > * {
  width: 400px;
  box-sizing: border-box;
}

@media screen and (max-aspect-ratio: 1) {
  body {
    min-width: 320px;
    min-height: 100vh;
  }

  #app {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

input[type="button"] + input[type="button"] {
  margin-left: 4px;
}
input[type="button"] {
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
input[type="button"]:hover {
  border-color: #646cff;
}
input[type="button"]:focus,
input[type="button"]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

fieldset > fieldset {
  align-self: stretch;
  display: inline-flex;
  flex-direction: row;
}

video {
  margin-top: 15px;
  width: 100%;
}
#result {
  margin-top: 15px;
  /* width: 100%; */
  width: fit-content;
  min-height: 300px;
  border: 1px dashed darkcyan;
  padding: 8px;
  box-sizing: border-box;
}

#result::before {
  content: "Result:";
}

#sources {
  max-height: 88px;
  overflow: auto;
}

#waveCanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw !important;
  height: 400px;
  z-index: -1;
}
