:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: start;
  padding: 2rem;
  height: 100vh;
  box-sizing: border-box;
  gap: 1em;
}
#app > fieldset:first-of-type {
  margin-top: -12px;
}

div#app > * {
  width: 400px;
  box-sizing: border-box;
}

@media screen and (max-aspect-ratio: 1) {
  body {
    min-width: 320px;
    min-height: 100vh;
  }

  #app {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

input::file-selector-button,
input[type="button"],
input[type="submit"] {
  vertical-align: text-bottom;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3a3a3a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type="submit"] {
  background-color: #646cff;
  color: #fff;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  border-color: #646cff;
}
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus-visible,
input[type="submit"]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="button"]:disabled,
input[type="submit"]:disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
}

fieldset > fieldset {
  align-self: stretch;
  display: inline-flex;
  flex-direction: row;
  gap: 6px;
}

#result {
  /* width: 100%; */
  width: fit-content;
  min-height: 300px;
  border: 1px dashed darkcyan;
  padding: 8px;
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 14px;
}

#result > div,
#result > p {
  margin: 0.2em 0;
  padding: 0 0.4em;
}

#result > p:nth-child(2n-1),
#result > div:nth-child(2n-1) {
  background-color: #3a3a3a8a;
}

#result::before {
  content: "Result:";
}

#sources {
  max-height: 88px;
  overflow: auto;
}

#waveCanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw !important;
  height: 400px;
  z-index: -1;
}
